<a href="https://colab.research.google.com/github/iamanolive/seven-days-of-AI/blob/main/kaggle-courses/notebook01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello, world!")

hello, world!

In [2]:
print("I am learning to code :D")
print("Good Morning!")

I am learning to code :D
Good Morning!

In [3]:
years = 4
days_per_year = 365.25
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

In [6]:
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * years
print(total_secs)

126230400.0

In [7]:
births_per_min = 250
mins_per_day = hours_per_day * mins_per_hour
births_per_day = births_per_min * mins_per_day

In [8]:
print(births_per_day)

360000

In [12]:
import pandas as pd
titanic_data = pd.read_csv("titanic.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
total = len(titanic_data)
survived = (titanic_data.Survived == 1).sum()
minors = (titanic_data.Age < 18).sum()

print(total, survived, minors, sep = "\n")

891
342
113

In [14]:
survived_fraction = survived / total
minors_fraction = minors / total

print(survived_fraction, minors_fraction, sep = "\n")

0.3838383838383838
0.12682379349046016