<a href="https://colab.research.google.com/github/iamanolive/seven-days-of-AI/blob/main/kaggle-courses/notebook03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
y = 1.0
print(y); print(type(y));

1.0
<class 'float'>

In [4]:
z = int(y)
print(z); print(type(z))

1
<class 'int'>

In [9]:
print(3 * True)
print(-3.1 * True)

print(type("abc" * False))
print("abc" * False)
print(len("abc") * False)

3
-3.1
<class 'str'>

0

In [14]:
def get_expected_cost(beds, baths, has_basement):
  house = 80000
  bedroom_cost = 30000
  bathroom_cost = 10000
  basement_cost = 40000
  total_cost = house + (beds * bedroom_cost) + (baths * bathroom_cost) + (has_basement * basement_cost)
  return total_cost

In [15]:
print(get_expected_cost(1, 1, False))
print(get_expected_cost(2, 1, True))

120000
190000

In [19]:
print(False + False) # 0 + 0 = 0
print(True + False) # 1 + 0 = 1
print(False + True) # 0 + 1 = 1
print(True + True) # 1 + 1 = 2
print(False + True + True + True) # 0 + 1 + 1 + 1 = 3

0
1
1
2
3

In [21]:
def cost_of_project(engraving, solid_gold):
  gold_plated_base = 50
  gold_plated_engraved = 7
  gold_plated_cost = gold_plated_base + (len(engraving) * gold_plated_engraved)

  solid_gold_base = 100
  solid_gold_engraved = 10
  solid_gold_cost = solid_gold_base + (len(engraving) * solid_gold_engraved)

  cost_total = ((not solid_gold) * gold_plated_cost) + (solid_gold * solid_gold_cost)
  return cost_total

In [23]:
project_one = cost_of_project("Charlie+Denver", True)
project_two = cost_of_project("08/10/2000", False)
print(project_one, project_two, sep = "\n")

240
120